<a href="https://colab.research.google.com/github/isaiahluc/undergrad_ml/blob/main/Wrangling_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! git clone https://github.com/isaiahluc/undergrad_ml

Cloning into 'undergrad_ml'...
remote: Enumerating objects: 35, done.
remote: Counting objects: 100% (22/22), done.
remote: Compressing objects: 100% (22/22), done.
remote: Total 35 (delta 6), reused 0 (delta 0), pack-reused 13 (from 2)
Receiving objects: 100% (35/35), 1.42 MiB | 15.10 MiB/s, done.
Resolving deltas: 100% (6/6), done.

In [33]:
import pandas as pd

df=pd.read_csv('/content/data/wages_hw.csv')

df.head(5)

df["Rating"].describe()

count    731.000000
mean       3.688372
std        0.570353
min        1.900000
25%        3.300000
50%        3.700000
75%        4.000000
max        5.000000
Name: Rating, dtype: float64